BasedOnStyle: LLVM

### Indentation / Spacing
UseTab: Never
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 8
IndentCaseLabels: false
NamespaceIndentation: All
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 2


### Line Length / Wrapping
ColumnLimit: 99
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: false

### Braces
BreakBeforeBraces: Attach
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterStruct: false
  AfterNamespace: false

### Alignment Rules
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AlignTrailingComments: true
PointerAlignment: Left   # int* p

### Functions / Arguments
BinPackArguments: false
BinPackParameters: false
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
BreakStringLiterals: false

### Includes
SortIncludes: true
IncludeBlocks: Regroup
IncludeIsMainRegex: '([-_](test|unittest))?$'
IncludeCategories:
  - Regex: '^<.*\.h>$'
    Priority: 1
  - Regex: '^".*\.h"$'
    Priority: 2
  - Regex: '.*'
    Priority: 3

### Comments
ReflowComments: true
FixNamespaceComments: false

### Constructor Initializers
BreakConstructorInitializers: AfterColon
ConstructorInitializerIndentWidth: 4

### Misc
IndentExternBlock: AfterExternBlock
IndentRequires: true
Cpp11BracedListStyle: true
